/*

GELE KLEUR : #F3D370
RODE KLEUR : #E34A47

 */

@font-face {
   font-family: 'The Bold Font';
    src: url('../font/theboldfont.ttf');
}

body{
    background-color: gainsboro;
    font-family: 'Lato', sans-serif;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus{
    outline: none;
}

.container{
    display: block;
    min-width:300px;
    max-width: 850px;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
}

.content{
    display: block;
    width:80%;
    margin-left: 10%;
    min-height:80vh;
    background-color: white;
    text-align: center;
}

.content h1 {

    font-family: 'The Bold Font', sans-serif;
    font-size: 1.8em;
    color: #E34A47;
    padding-top: 30px;
}

.content p {

    margin-top: 30px;
    font-weight: 200;
    font-size: 1em;
    color: darkgrey;
}

.content p span {

    font-weight: 400;
    color: #E34A47;
}

.buttonsVak {
    margin: 50px auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.buttonVak {

    background-color: #F3D370 ;
    width: 20vw;
    height: 20vw;
    margin: 10px 5px;
    border: 2px dashed #E34A47;
    border-radius: 10px;
}

.buttonVakTekst{
    width: 5vw;
    margin: 10px 5px;
    text-align: center;
}

.buttonVakTekst p{
    padding-top: 5%;
}

.buttonVak img{
    display: block;
    width:70%;
    height:70%;
    margin: 15% auto;
}

/*.buttonVak {

    background-color: #F3D370 ;
    width: 150px;
    height: 150px;
    padding: 5%;
    margin: 30px 25px;
    border: 2px dashed #E34A47;
    border-radius: 10px;
}

.buttonVakTekst{
    width: 150px;
    margin: 30px 25px;
    text-align: center;
}

.buttonVakTekst p{
    padding-top: 25px;
}

.buttonVak img{
    display: block;
    width:100px;
    height:100px;
    margin:25px auto;
}*/

a.a-buttonVak {
    text-decoration: none;
    color: white;
    font-size: 1em;
    outline: none;
}

.red-banner{
    display: block;
    width:100%;
    height:10vh;
    background-color: #E34A47;
}

.red-banner .logo{
    display: block;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 2vh;
}

.red-banner .logo img {
    width:70%;
    margin-left: 15%;
    margin-top: 5px;
}

.btn-square{
    display: block;
    width: 100px;
    height: 100px;
    background-color: #F3D370;
    margin:10px auto;
    border: 2px dashed #E34A47;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    outline: none;
}

.btn-square p{
    color: white;
    font-size: 2.2em;
    font-weight: 500;

}

.btnsCheck #btn-ja {

    background-color: #F3D370 ;
    color: #E34A47;
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 5%;
    border-radius: 40px;
    border: none;
    margin-top: -20px;
    outline: none;
    cursor: pointer;
}

.btnsCheck #btn-nee {

    background-color: #F3D370 ;
    color: #E34A47;
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 5%;
    border-radius: 40px;
    border: none;
    margin-top: -20px;
    outline: none;
    cursor: pointer;
}
.modal-header, .modal-footer{
    background-color: #E34A47;
    color: white;
}

.adminForm form {

    display: flex;
    flex-direction: column;
}

.adminForm form input {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    padding: 2%;
    border: 1px solid #f7e19f;
    border-radius: 20px;
    text-align: center;
}



@media screen and (min-width: 760px) {

    .content h1 {

        font-size: 2.5em;
        padding-top: 70px;
    }

    .content p {

        margin-top: 40px;
        font-size: 1.8em;
    }

    .buttonVak {
        width: 10vw;
        height: 10vw;
        margin: 10px 5px;
    }

    .buttonVakTekst{
        width: 10vw;
        margin: 10px 5px;
    }

    .buttonVakTekst p{
        padding-top: 5%;
    }

    .buttonVak img{
        width:70%;
        height:70%;
        margin: 15% auto;
    }


    .red-banner .logo{

        outline: none;
        width: 170px;
        height: 170px;
    }

    .btn-square{

        width: 200px;
        height: 200px;
        border: 4px dashed #E34A47;
        border-radius: 15px;
        margin-top: 70px;
    }

    .btn-square p{

        padding-top: 20px;
        font-size: 4em;

    }

    .btnsCheck {

        margin-top: 100px;
    }

    .btnsCheck #btn-ja {

        font-size: 1.5em;

        padding-left: 8%;
        padding-right: 8%;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .btnsCheck #btn-nee {
       font-size: 1.5em;

       padding-left: 8%;
       padding-right: 8%;
       padding-top: 6%;
       padding-bottom: 6%;

   }


}


/* - - -  Modal pop-up keuze supportersvak - - - */

#kiesVak .modal-body .vakken{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.modal-title {

    text-align: center;
}

.modal-body p {
    text-align: center;
}

#kiesVak .modal-body input[type=radio]{display: none;}

#kiesVak .modal-body input[type=radio] + label {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #f7e19f;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    margin:10px;
    text-align: center;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

#vak-submit {

    background-color: #E34A47;
    color: white;
    text-align: center;
    margin-left: 40%;
    margin-top: 20px;
    padding: 3%;
    border-radius: 10px;
    outline: none;
}

#kiesVak .modal-body input[type=radio]:checked + label {
    background-color: #F3D370;
    border: 2px dashed #E34A47;
}

/* - - -  Voorkeuren.php  - - - */

.voorkeuren {

    width: 70%;
    margin-left: 15%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 5px;
}

#btn {

    font-size: 0.9em;
    color: darkgrey;
    font-weight: 500;
    margin-top: 20px;
}

input[type=checkbox] {
    visibility: hidden;
}

.checkboxSlide {
    width: 40px;
    height: 10px;
    background: white;
    margin-top: 20px;
    margin-left: 20%;
    border: 2px solid #F3D370 ;
    border-radius: 50px;
    position: relative;
}

.checkboxSlide:after {
    position: absolute;
    left: 13px;
    height: 2px;
    color: #F3D370;
}


.checkboxSlide:before {
    position: absolute;
    top: 12px;
    left: 84px;
    height: 2px;
    color: #E34A47 ;
}

.checkboxSlide label {
    display: block;
    width: 20px;
    height: 10px;

    border-radius: 50px;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    margin-top: -19px;
    z-index: 1;
    background: #E34A47;
}


.checkboxSlide input[type=checkbox]:checked + label {
    left: 20px;
    background: #F3D370;
}

.submitBtns {

    margin-top: -20px;
    font-size: 0.5em;
}

.submitBtns #btn-go {

    background-color: #F3D370 ;
    color: #E34A47;
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 5%;
    border-radius: 40px;
    border: none;
    margin-top: -20px;
    outline: none;
    cursor: pointer;

}

@media screen and (min-width: 375px) {

    .voorkeuren {

        margin-top: 50px;
    }

    .voorkeuren .checkboxSlide {

        margin-left: 30%;
    }


    .submitBtns {

        margin-top: 50px;
        font-size: 0.8em;
    }

}

@media screen and (min-width: 760px) {

    .voorkeuren {

        margin-top: 20px;
    }

    #btn {

        font-size: 1.2em;
        margin-top: 50px;
    }


    .voorkeuren #checkboxSlideZingen {
        width: 80px;
        height: 20px;
        margin-top: 50px;
        margin-left: 40%;
    }
    #checkboxSlideZingen label {
        width: 40px;
        height: 20px;
    }
    #checkboxSlideZingen input[type=checkbox]:checked + label {
        left: 40px;
    }

    .voorkeuren #checkboxSlideWave {
        width: 80px;
        height: 20px;
        margin-top: 50px;
        margin-left: 60%;
    }
    #checkboxSlideWave label {
        width: 40px;
        height: 20px;
    }
    #checkboxSlideWave input[type=checkbox]:checked + label {
        left: 40px;
    }

    .voorkeuren #checkboxSlideSpringen {
        width: 80px;
        height: 20px;
        margin-top: 50px;
        margin-left: 60%;
    }
    #checkboxSlideSpringen label {
        width: 40px;
        height: 20px;
    }
    #checkboxSlideSpringen input[type=checkbox]:checked + label {
        left: 40px;
    }

    .voorkeuren #checkboxSlidePintje {
        width: 80px;
        height: 20px;
        margin-top: 50px;
        margin-left: 60%;
    }
    #checkboxSlidePintje label {
        width: 40px;
        height: 20px;
    }
    #checkboxSlidePintje input[type=checkbox]:checked + label {
        left: 40px;
    }

    .voorkeuren #checkboxSlideKlappen {
        width: 80px;
        height: 20px;
        margin-top: 50px;
        margin-left: 60%;
    }
    #checkboxSlideKlappen label {
        width: 40px;
        height: 20px;
    }
    #checkboxSlideKlappen input[type=checkbox]:checked + label {
        left: 40px;
    }


    .submitBtns  {

        margin-top: 30px;
        font-size: 1.2em;

    }



}

@media screen and (min-width: 760px) {

    .voorkeuren .checkboxSlide {

        margin-left: 50%;
        margin-top: 50px;
        width: 80px;
        height: 20px;
    }

    .voorkeuren .checkboxSlide label {

        margin-top: -73px;
        width:40px;
        height: 20px;
    }

    .checkboxSlide input[type=checkbox]:checked + label {
        left: 40px;
    }

    .voorkeuren #checkboxSlide {

        margin-left: 50%;
    }

    .submitBtns  {

        margin-top: 50px;
        font-size: 1.2em;

    }

}


/* - - -  Splashscreen - - - */

.container-wait {

    background-color: #E34A47 ;
    width: 100%;
    height: 700px;
}

.container-wait h1 {

    font-family: "The Bold Font", sans-serif;
    color: white;
    font-size: 3em;
    text-align: center;
    padding-top: 100px;
}

.container-wait p {

    margin-top: 30px;
    font-weight: 200;
    font-size: 1em;
    color: white;
    text-align: center;

}

.container-wait .logo {
    margin-top: 50px;
    background-color: white;
    width: 50%;
    margin-left: 20%;
    padding: 5%;
    border-radius: 200px;
}

.container-wait .logo img {

    width: 100%;
}

@media screen and (min-width: 760px) {

    .container-wait {

        background-color: #E34A47 ;
        width: 100%;
        height: 700px;
    }

    .container-wait h1 {

        font-family: "The Bold Font", sans-serif;
        color: white;
        font-size: 3em;
        text-align: center;
        padding-top: 100px;
    }

    .container-wait p {

        margin-top: 30px;
        font-weight: 200;
        font-size: 1em;
        color: white;
        text-align: center;

    }

    .container-wait .logo {
        margin-top: 50px;
        background-color: white;
        width: 30%;
        margin-left: 33%;
        padding: 2%;
        border-radius: 200px;
    }

    .container-wait .logo img {

        width: 100%;
    }

}


/* POP UP OPDRACHT */
#opdracht .modal-body p, #opdracht .modal-body h1{
    color: black;
}

#opdracht .modal-body {

    margin-top: -100px;

}

#opdracht .modal-body h1 {

    font-size: 1.5em;
    color: #E34A47;
    margin-top: -50px;
}

.btnsOpdracht {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.btnsOpdracht #btn-ja {

    background-color: transparent;
    border: 2px dashed #F3D370 ;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
    font-size: 1.2em;
    color: #E34A47;
}

.btnsOpdracht #btn-ja:hover {

    background-color: #F3D370 ;
    color: white;
}

.btnsOpdracht  #btn-nee {
    background-color: transparent;
    border: 2px dashed #F3D370 ;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
    font-size: 1.2em;
    color: #E34A47;

}

.btnsOpdracht #btn-nee:hover {

    background-color: #F3D370 ;
    color: white;
}

#opdracht #logoOpdracht {

    width: 100px;
    margin-left: 32.5%;
    margin-top: 20px;
}

#timer {

    font-size: 1em;
    color: white;
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 150px;
    width: 7%;
    padding: 3%;
}

#timerEnd {
    font-size: 1em;
    color: white;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 150px;
    width: 6%;
    padding: 3%;
    margin-left: 10px;

}

#opdracht-timer {

    index: 2;
    width: 50%;
    margin-left: 25%;
    margin-top: 120px;
    font-size: 3em;
    text-align: center;
    position: absolute;
    color: #E34A47;

}

/* RED BANNERS FIXED */

.content-fixed{
    position: relative;
    padding-top: 5em;
    padding-bottom: 3em;
}

.red-banner{
    min-width:300px;
    max-width: 850px;
}

.red-banner.header{
    position: fixed;
    z-index: 5;
}

.red-banner.footer{
    position: fixed;
    z-index: 5;
    bottom: 0;
}

.red-banner.footer .logo{
    position: fixed;
    z-index: 10;
}

/* RESULT SINGING */



#wavedisplay {

    width: 80%;
    margin-left: 10%;
}


#btn-sluit {

    background-color: #F3D370;
    text-decoration: none;
    color: #E34A47;
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 30%;
    margin-left: 37%;
    border-radius: 250px;
    outline: none;
    cursor: pointer;
    margin-top: -10px;
}

#id {

    text-align: center;
}




@media screen and (min-width: 760px) {

    #opdracht .modal-body p, #opdracht .modal-body h1{
        color: black;
    }

    #opdracht .modal-body {

        margin-top: -100px;

    }

    #opdracht #logoOpdracht {

        width: 150px;
        margin-left: 37.5%;
        margin-top: 50px;
    }

    #opdracht .modal-body h1 {

        font-size: 1.5em;
        color: #E34A47;
        margin-top: -50px;
    }

    .btnsOpdracht #btn-ja {

        width: 150px;
        height: 150px;
    }

    .btnsOpdracht #btn-nee {

        width: 150px;
        height: 150px;
    }

    #timer {

        width: 3%;
        padding: 2%;
    }

    #timerEnd {
        width: 3%;
        padding: 2%;

    }

    .content-fixed{
        position: relative;
        padding-top: 5em;
        padding-bottom: 15em;
    }

    #id {

        text-align: center;
    }

}

















