/*

GELE KLEUR : #F3D370
RODE KLEUR : #E34A47

 */

@font-face {
   font-family: 'The Bold Font';
    src: url(../font/theboldfont.ttf);
}

body{
    background-color: gainsboro;
    font-family: 'Lato', sans-serif;
}

.container{
    display: block;
    min-width:300px;
    max-width: 850px;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
}

.content{
    display: block;
    width:80%;
    margin-left: 10%;
    height:80vh;
    background-color: white;
    text-align: center;
}

.content h1 {

    font-family: 'The Bold Font', sans-serif;
    font-size: 1.8em;
    color: #E34A47;
    padding-top: 50px;
}

.content p {

    margin-top: 30px;
    font-weight: 200;
    font-size: 1em;
    color: darkgrey;
}

.content p span {

    font-weight: 400;
    color: #E34A47;
}

.buttonsVak {
    margin-top: 50px;
}

#buttonVak {

    background-color: #F3D370 ;
    width: 70%;
    padding: 5%;
    margin-left: 10%;
    margin-top: 30px;
    border: 2px dashed #E34A47;
    border-radius: 10px;
}

#buttonVak a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    outline: none;
}

.red-banner{
    display: block;
    width:100%;
    height:10vh;
    background-color: #E34A47;
}

.red-banner .logo{
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 82vh;
}

.red-banner .logo img {
    width:70%;
    margin-left: 15%;
    margin-top: 5px;
}

.btn-square{
    display: block;
    width: 100px;
    height: 100px;
    background-color: #F3D370;
    margin:10px auto;
    border: 2px dashed #E34A47;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    outline: none;
}

.btn-square p{
    color: white;
    font-size: 2.2em;
    font-weight: 500;

}

#btn-ja, #btn-nee {

    background-color: #F3D370 ;
    color: #E34A47;
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 5%;
    border-radius: 40px;
    border: none;
    margin-top: -20px;
    outline: none;
    cursor: pointer;
}

.modal-header, .modal-footer{
    background-color: #E34A47;
    color: white;
}

@media screen and (min-width: 760px) {

    .content h1 {

        font-size: 2.5em;
        padding-top: 70px;
    }

    .content p {

        margin-top: 40px;
        font-size: 1.8em;
    }


    .buttonsVak {

        margin-top: 80px;
    }

    #buttonVak a {
        font-size: 1.8em;
    }


    .red-banner .logo{

        width: 170px;
        height: 170px;
    }

    .btn-square{

        width: 200px;
        height: 200px;
        border: 4px dashed #E34A47;
        border-radius: 15px;
        margin-top: 70px;
    }

    .btn-square p{

        padding-top: 20px;
        font-size: 4em;

    }

    .btns {

        margin-top: 100px;
    }

    #btn-ja, #btn-nee {

<<<<<<< HEAD
        font-size: 1.8em;
=======
        font-size: 1.5em;
>>>>>>> helena
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 6%;
        padding-bottom: 6%;
<<<<<<< HEAD
=======
    }
>>>>>>> helena

    }


}


/* - - -  Modal pop-up keuze supportersvak - - - */

#kiesVak .modal-body .vakken{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.modal-title {

    text-align: center;
}

.modal-body p {

    text-align: center;
}

#kiesVak .modal-body input[type=radio]{display: none;}

#kiesVak .modal-body input[type=radio] + label {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #f7e19f;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    margin:10px;
    text-align: center;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

#vak-submit {

    background-color: #E34A47;
    color: white;
    text-align: center;
    margin-left: 40%;
    margin-top: 20px;
    padding: 3%;
    border-radius: 10px;
    outline: none;
}

#kiesVak .modal-body input[type=radio]:checked + label {
    background-color: #F3D370;
    border: 2px dashed #E34A47;
}

/* - - -  Voorkeuren.php  - - - */

.voorkeuren {

    width: 70%;
    margin-left: 15%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 5px;
}

#btn {

    font-size: 0.9em;
    color: darkgrey;
    font-weight: 500;
    margin-top: 20px;
}

input[type=checkbox] {
    visibility: hidden;
}

#checkboxSlide {
    width: 40px;
    height: 10px;
    background: white;
    margin-top: 20px;
    margin-left: 20%;
    border: 2px solid #F3D370 ;
    border-radius: 50px;
    position: relative;
}

#checkboxSlide:after {
    position: absolute;
    left: 13px;
    height: 2px;
    color: #F3D370;
}


#checkboxSlide:before {
    position: absolute;
    top: 12px;
    left: 84px;
    height: 2px;
    color: #E34A47 ;
}

#checkboxSlide label {
    display: block;
    width: 20px;
    height: 10px;

    border-radius: 50px;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    margin-top: -19px;
    z-index: 1;
    background: #E34A47;
}


#checkboxSlide input[type=checkbox]:checked + label {
    left: 20px;
    background: #F3D370;
}

.submitBtns {

    margin-top: -20px;
    font-size: 0.5em;
}

@media screen and (min-width: 375px) {

    .voorkeuren {

        margin-top: 50px;
    }

    .voorkeuren #checkboxSlide {

        margin-left: 30%;
    }


    .submitBtns {

        margin-top: 50px;
        font-size: 0.8em;
    }

}

@media screen and (min-width: 760px) {

    .voorkeuren {

        margin-top: 20px;
    }

    #btn {

        font-size: 1.2em;
        margin-top: 50px;
    }


    .voorkeuren #checkboxSlide {

        width: 80px;
        height: 20px;
        margin-top: 50px;
        margin-left: 40%;
    }


    #checkboxSlide label {
        width: 40px;
        height: 20px;

    }

    #checkboxSlide input[type=checkbox]:checked + label {
        left: 40px;

    }

    .submitBtns  {

        margin-top: 30px;
        font-size: 1.2em;

    }

    #btn-ja, #btn-nee {

        padding-left: 6%;
        padding-right: 6%;
        padding-top: 4%;
        padding-bottom: 4%;

    }

}

@media screen and (min-width: 760px) {

    .voorkeuren #checkboxSlide {

        margin-left: 50%;
    }

    .submitBtns  {

        margin-top: 80px;
        font-size: 1.2em;

    }



}


/* - - -  Splashscreen - - - */

.container-wait {

    background-color: #E34A47 ;
    width: 100%;
    height: 700px;
}

.container-wait h1 {

    font-family: "The Bold Font", sans-serif;
    color: white;
    font-size: 3em;
    text-align: center;
    padding-top: 100px;
}

.container-wait p {

    margin-top: 30px;
    font-weight: 200;
    font-size: 1em;
    color: white;
    text-align: center;

}

.container-wait .logo {

    margin-top: 50px;
    background-color: white;
    width: 50%;
    margin-left: 20%;
    padding: 5%;
    border-radius: 200px;

}

.container-wait .logo img {

    width: 100%;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite ;
}

@-webkit-keyframes fadeIn {

    from {opacity: 0;}
    to {opacity: 1;}

}















